<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Reproductor Musical</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>🎵 Reproductor Musical</h1>

    <form method="get">
        <input type="text" name="q" placeholder="Buscar en iTunes...">
        <button type="submit">Buscar</button>
    </form>

    <a href="{% url 'upload' %}">Subir canción desde PC</a>

    <ul id="playlist">
        {% for song in songs %}
        <li>
            {{ song.trackName }} - {{ song.artistName }}
            <audio controls>
                <source src="{{ song.previewUrl }}" type="audio/mpeg">
            </audio>
        </li>
        {% empty %}
        <li>No hay canciones todavía</li>
        {% endfor %}
    </ul>

    <script src="/static/script.js"></script>
</body>

</html>